{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
    {% block title %}
   Password Changed Done
    {% endblock %}
    </title>
    <link rel="icon" type="image/png" sizes="32x30" href="{% static 'backend_app/images/favicon.png' %}">
    <link href="{% static 'backend_app/css/admin.css' %}" rel="stylesheet">
  
  </head>
  <body>

      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4">
            <div class="login-logo">
              <img src="{{ user.userprofile.image.url }}">
            </div>
            <div class="login-form">
              <div class="page-title text-center">
                  <h3>Password Changed Done</h3>
                <form method="" action="" class="form">     
                  
                    <div class="d-flex flex-column">
                      <p class="m-auto">Your password has been Changed Successfully. You may go ahead and  <a href="{% url 'backend_app:login' %}">Login</a> now</p>
                    </div>
                </form>
              </div>
                <div class="footer"> 
                  <a href="{% url 'index' %}" id="back">Back to main site</a>
                </div>
            </div>
          </div>
        </div>
      </div>
    <script src="{% static 'backend_app/js/jquery.js'%}"></script>
    <script src="{% static 'backend_app/js/bootstrap.min.js' %}"></script>
  </body>
</html>