{% extends 'backend_app/backend_base.html' %}
{% load static %}
<!DOCTYPE html>
{% block title %}
Admin
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    </div>
        </div>
        <div class="col-sm-9" id="admin-main-content">
          <div class="row">
              <div class="col-md-10 col-md-offset-1">
               <div class="post-content">
                 <h3>Password Change</h3>

                  {% if messages %}
                     {% for message in messages %}
                     <div class="alert alert-{% if message.tags == 'error' %}Danger{% else %}{{ message.tags }} {% endif %}" role="alert">
                        {{ message }}
                     </div>
                     {% endfor %}
                  {% endif %}

                 <form method="get" action="{% url 'backend_app:password_change_done' %}" class="form">
                     {% csrf_token %}
                    <table>
                     {{ form|crispy }}
                     <tr>
                      <td><input type="submit" name="login" class="btn btn-success btn-block" value="Change Password"></td>
                    </tr>
                   </table>
                 </form>
                </div>
              </div>
          </div>
        </div>
      </div>

    </div>

{% endblock %}