{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
    {% block title %}
    Reset Password
    {% endblock %}
    </title>
    <link rel="icon" type="image/png" sizes="32x30" href="{% static 'backend_app/images/favicon.png' %}">
    <link href="{% static 'backend_app/css/admin.css' %}" rel="stylesheet">
  </head>
  <body>

      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4">
            <div class="login-logo">
              <img src="{% static 'backend_app/images/logo.png' %}">
            </div>
            <div class="login-form">
              <div class="page-title text-center">
                <h1>Reset Your Password</h1>
              </div>

                  <form method="POST" action="" class="form">
                     {% csrf_token %}
                <div class="form-group">
                  <div class="d-flex flex-column">
                      <p class="m-auto p-2">
                        Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.
                      </p>
                     
                  <div class="footer">
                   
                   <a href="{% url 'backend_app:login' %}" id="back"> <input type="" name="" class="btn btn-success btn-block" value="Click Here to Login"></a>
                  </div>
                </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    
    <script src="{% static 'backend_app/js/jquery.js'%}"></script>
    <script src="{% static 'backend_app/js/bootstrap.min.js' %}"></script>
  </body>
</html>