{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
    {% block title %}
    Password Reset Confirm
    {% endblock %}
    {% load crispy_forms_tags %}
    </title>
    <link rel="icon" type="image/png" sizes="32x30" href="{% static 'backend_app/images/favicon.png' %}">
    <link href="{% static 'backend_app/css/admin.css' %}" rel="stylesheet">
  </head>
  <body>

      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4">
            <div class="login-logo">
              <img src="{% static 'backend_app/images/logo.png' %}">
            </div>
            <div class="login-form">
              <div class="page-title text-center">
                <h1>Change Password</h1>
              </div>
                  <form method="POST" action="" class="form">
                     {% csrf_token %}
                     {{ form|crispy }}
                        <input type="submit" name="login" class="btn btn-success btn-block" value="Change Password">
                        <div class="footer">
                          <a href="{% url 'backend_app:password_reset' %}" id="back">Back to Login Page</a>
                        </div>
                      </div>
                    </div>
                 </form>
            </div>
          </div>
        </div>
      </div>
    
    <script src="{% static 'backend_app/js/jquery.js'%}"></script>
    <script src="{% static 'backend_app/js/bootstrap.min.js' %}"></script>
  </body>
</html>