{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
    {% block title %}
    Reset Password
    {% endblock %}
    {% load crispy_forms_tags %}
    </title>
    <link rel="icon" type="image/png" sizes="32x30" href="{% static 'backend_app/images/favicon.png' %}">
    <link href="{% static 'backend_app/css/admin.css' %}" rel="stylesheet">
   
  </head>
  <body>

      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4">
            <div class="login-logo">
              <img src="{% static 'backend_app/images/logo.png' %}">
            </div>
            <div class="login-form">
              <div class="page-title text-center">
                <h1>Forgot Password?</h1>
              </div>
                  <p>Enter your email address below, and we will send you a link to reset your Password.</p>

                  {% if messages %}
                     {% for message in messages %}
                     <div class="alert alert-{% if message.tags == 'error' %}Danger{% else %}{{ message.tags }} {% endif %}" role="alert">
                        {{ message }}
                     </div>
                     {% endfor %}
                  {% endif %}

                <form method="POST" action="" class="form">
                  {% csrf_token %}
                  {{ form|crispy }}
                <input type="submit" name="login" class="btn btn-success btn-block" value="Send Password Reset Email">
              </form>
              <div class="footer">
               <a href="{% url 'index' %}" id="back">Back to main site</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    <script src="{% static 'backend_app/js/jquery.js'%}"></script>
    <script src="{% static 'backend_app/js/bootstrap.min.js' %}"></script>
  </body>
</html>