{% extends 'frontend_app/base.html' %}
{% load static %}
<!DOCTYPE html>
{% block title %}
Contact US
{% endblock %}
{% load crispy_forms_tags %}


{% block content %}

  <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url({% static 'frontend/images/Coding.jpg' %})">
    <div class="overlay-mf"></div>
     <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
               <div class="title-box text-center">
                <h1 class="title-a">
                CONTACT US
                </h1>
                <div class="line-mf"></div>
                </div>
                {% if messages %}
                   {% for message in messages %}
                   <div class="alert alert-{% if message.tags == 'error' %}Danger{% else %}{{ message.tags }} {% endif %}" role="alert">
                      {{ message }}
                   </div>
                   {% endfor %}
                {% endif %}

              <div class="row">
                <div class="col-md-6">
                  <div class="title-box-2">
                    <h3 class="title-left">
                    Get in Touch
                    </h3>
                </div>
                <div>    
                  <form action="" method="POST">
                    <div class="row">
                  
                      {{ form|crispy }}
                   
                      {% csrf_token %}
                      <div class="col-md-12">
                        <button type="submit" class="btn btn-success">Send Message</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
                <div class="col-md-6">
                  <div class="title-box-2 pt-4 pt-md-0">
                    <h3 class="title-left">
                      For More Information
                    </h3>
                  </div>
                  <div class="more-info">
                    <ul class="list-ico">
                     Visit Us at Our Address below;
                      <li class="para"><span class="ion-ios-location"></span>By PHCN Office, Foursquare Gospel Church, 5th Avenue, 51 Road, Gowon Estate, Egbeda, Lagos State</li>
                      Call (Text) or Email Us;
                      <li><span class="ion-ios-telephone"></span>(234)7037678697</li>
                      <li><span class="ion-email"></span>samsonharuna@yahoo.com</li>
                    </ul>
                  </div>
                  <div class="socials">
                    <ul>
                      <li><a href="https://www.facebook.com" target="_blank"><span class="ico-circle"><i class="ion-social-facebook"></i></span></a></li>
                      <li><a href="https://www.instagram.com" target="_blank"><span class="ico-circle"><i class="ion-social-instagram"></i></span></a></li>
                      <li><a href="https://www.twitter.com" target="_blank"><span class="ico-circle"><i class="ion-social-twitter"></i></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}




