{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
    {% block title %}
    {{ user.first_name }}
    {% endblock %}
    {% load crispy_forms_tags %}

    </title>
    <link rel="icon" type="image/png" sizes="32x30" href="{% static 'backend_app/images/favicon.png' %}">
    <link href="{% static 'backend_app/css/admin.css' %}" rel="stylesheet">
  </head>
  <body id="admin">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3" id="top-sidebar">
          <a href="{% url 'backend_app:login' %}">
            <img src="{% static 'backend_app/images/admin-logo.png' %}" class="img-responsive">
          </a>
        </div>
        <div class="col-sm-9" id="top-content">
          <div class="status pull-right">
            <img src="{{user.userprofile.image.url }}" class="img-circle">
            <div class="userStatus">
              <a class="userStatus dropdown-toggle" data-toggle="dropdown" id="userStatus">
              {{ user.first_name }}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'backend_app:logout' %}">Log Out</a></li>
                <li><a href="{% url 'backend_app:password_change' %}">Password Change</a></li>
                <li><a href="{% url 'backend_app:edit_profile' %}">Edit Profile</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
    <div class="col-sm-3" id="adim-sidebar">
      <div class="row">
        <div class="col-sm-3">
          <img src="{{ user.userprofile.image.url }}" class="img-circle">
        </div>
        <div class="col-sm-9">
          <span>{{ user.first_name }}</span><br>
          <span class="fa fa-circle text-success"></span>
          Online<br>
        </div>
      </div>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
               <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                 Posts
                 <span class="pull-right"> 
                   <span class="fa fa-angle-left"></span>
                 </span>
               </a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
              <ul class="nav">
                <li>
                  <a href="{% url 'backend_app:post' %}">
                    <span class="fa fa-circle-o"></span>
                     Add Post
                  </a>
                </li>
                <li>
                  <a href="{% url 'backend_app:list_post' %}">
                    <span class="fa fa-circle-o"></span>
                    View Posts
                  </a>
                </li> 
              </ul>
            </div>
          </div>
        </div>
       <div class="panel panel-default">
         <div class="panel-heading">
           <h4 class="panel-title">
             <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
               Category
               <span class="pull-right"> 
                 <span class="fa fa-angle-left"></span>
               </span>
             </a>
           </h4>
         </div>
         <div id="collapse2" class="panel-collapse collapse">
           <div class="panel-body">
             <ul class="nav">
               <li>
                 <a href="{% url 'backend_app:category' %}">
                   <span class="fa fa-circle-o"></span>
                   Add Category
                 </a>
               </li>
               <li>
                 <a href="{% url 'backend_app:list_category' %}">
                   <span class="fa fa-circle-o"></span>
                   View Category
                 </a>
               </li>
             </ul>
           </div>
         </div>
       </div>
       <div class="panel panel-default">
         <div class="panel-heading">
           <h4 class="panel-title">
             <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
             Users</a>
           </h4>
         </div>
         <div id="collapse3" class="panel-collapse collapse">
           <div class="panel-body">
             <ul class="nav">
               <li><a href="{% url 'backend_app:user' %}">Add User</a></li>
               <li><a href="{% url 'backend_app:list_user' %}">View Users</a></li>
             </ul>
           </div>
         </div>
       </div>
      </div>
    </div>

        <div class="col-sm-9" id="admin-main-content">
          <div class="row">
            <div class="col-sm-6">
             <div class="inner-box">
               <h2>My Profile</h2>

               {% if messages %}
                  {% for message in messages %}
                  <div class="alert alert-{% if message.tags == 'error' %}Danger{% else %}{{ message.tags }} {% endif %}" role="alert">
                     {{ message }}
                  </div>
                  {% endfor %}
               {% endif %}
               <table class="table table-bordered">
                 <tr>
                   <th>Username</th>
                   <th>First Name</th>
                   <th>Last Name</th>
                   <th>Email</th>
                 </tr>
              
                  <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                  </tr>
                </table>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <script src="{% static 'backend_app/js/jquery.js' %}"></script>
    <script src="{% static 'backend_app/js/bootstrap.min.js' %}"></script>
  </body>
</html>