
@import url("bootstrap.min.css");
@import url("font-awesome.min.css");
@import url("custom-fonts.css");
body{
	padding: 0;
	margin: 0;
	color:#fff;
	background-color:#B7D3AD;
	font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Merriweather', serif;
  font-family: 'Josefin Sans', sans-serif;
}

a, u {
	text-decoration: none !important;
}


#top-sidebar{
	background-color:#186b05;
}

#top-content{
	background-color:#338908;
}

#top-content, #top-sidebar{
	min-height:60px;
}


#top-content img{
	display: inline-block;
	margin-top: 10px;
}

#top-sidebar img{
	max-width:160px;
	height:auto;
}

.status img{
	max-width:45px;
	height:auto;
}

#top-sidebar h4{
	margin-top: 0;
}

#adim-sidebar{
	background-color: #092B02;
	height:100%;
	min-height:800px;
}

#adim-sidebar img{
	max-width:45px;
	height:auto;
}

#accordion .panel-heading{
	background-color:#1E3F17;
}

 .panel-default{
	background-color:#092B02;
	border-color: #092B02;
}

.panel-title{
	color:#add1a5;
}
.panel-title a{
	color:#add1a5;
	font-family: 'amaranthRegular', sans-serif;
}

#accordion .panel-body{
	background-color:#092B02;
}

.panel-body .nav a{
	font-family: 'amaranthRegular', sans-serif;
	color:#add1a5;
}

.panel-body .nav a:hover{
	background-color:#092B02;
}


#admin-main-content{
	background-color:#B7D3AD;
}

/* Login styling starts here */
.login-form{
	background-color:#fff;
	padding:20px;
	margin-top:15px;
	border-radius:10px;
	color:#186b05;
}

.login-logo{
	margin-top:100px;
}

.login-logo img{
	max-width:250px;
	height: auto;
	display: block;
	margin:auto;
}

.page-title h1{
	margin-top:0;
	color:#186b05;
}

.btn-success{
	background-color:#338908;
	border-color:#338908;
}

.footer{
	overflow: hidden;
}

.footer > a{
	color:#338908;
	display: inline-block;
	margin-top: 12px;
}

.footer > a:nth-child(1){
	color:#338908;
	display: inline-block;
	margin-top: 12px;
	float: left;
}

.footer > a:nth-child(2){
	float: right;
}

.inner-box{
	padding: 20px;
	background-color: #338908;
	margin-top: 20px;
	border-radius: 10px;
	min-height: 150px;
}

.inner-box .fa, .inner-box span{
	font-size: 35px;
}

.inner-box a{
	color:#fff;
	display: inline-block;
}

.inner-box a:hover{
	text-decoration: none;
}

.inner-box h4{
	margin-bottom: 0px;
}

h4 + .little-text{
	font-size: 13px;
	font-style: italic;
}

.status img{
	max-width:45px;
	height:auto;
}

 .dropdown-menu{
	left:85%;
}

.userStatus{
	display: inline-block;
	color:#fff;
}

.userStatus:hover{
	color:#fff;
	text-decoration: none;
	cursor: pointer;
}

#selectCategory{
	height: 110px;
	margin-bottom: 10px;
}

.post-content{
	background-color: #fff;
	padding: 15px;
	box-sizing: border-box;
	color:#000;
	overflow: hidden;
	margin-top: 10px;
}

#back{
	text-align: center;
	display: block;
	float: none;
}

.para {
	text-align: justify;
}

p {
	font-family: 'Roboto', sans-serif;
}
/* Login styling ends here */
